@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Chokokutai&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Unlock&display=swap');
/* General Styles */
html {
    background-color: rgb(104, 104, 103);
}

body {
    font-family: verdana, Arial, Helvetica, sans-serif;
    max-width: 1500px; 
    margin: 0 auto; 
    background-color: white;
    border: 3px solid black;
}

header {
    padding-top: 20px;
    background: linear-gradient(90deg, rgba(52,171,150,1) 0%, rgba(105,238,192,1) 76%, rgba(43,191,135,1) 99%);
    border-bottom: 2px solid black;
}

header h2 {
    padding-left: 160px;
    color: black;
}

header h1 {
    padding-left: 25px;
    color: orange;
    font-family: "Unlock", serif;
}

.container {
    padding: 20px;
}

.row {
    display: flex; 
}

.left-sidebar, .right-sidebar {
    padding: 20px;
}

.content {
    padding: 20px;
}

img {
    max-width: 100%; 
    height: auto;
    padding-bottom: 8px;
}
.container h2{
    font-size: 40px;
    padding-bottom: 8px;
}
.column1 li{
    padding-bottom: 12px;
    font-size: 22px;

}
.column1 li a{
    color: orange;
    text-decoration: none;
}

article {
    margin-bottom: 20px; 
}

footer {
    clear: both;
    margin-top: 1em;
    padding-top: .7em;
    text-align: center;
}

footer p {
    font-size: 100%;
}

.list li a {
    color: orange;
    text-decoration: none;
    padding: 10px; 
    display: block; 
    font-size: 18px;
}

li a:hover {
    color: blue;
}

/* Responsive Design */
@media (max-width: 768px) {
    .row {
        flex-direction: column; 
    }

    header h2 {
        padding-left: 20px; 
    }
}

@media (max-width: 480px) {
    footer p {
        font-size: 90%; 
    }
}
