@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Chokokutai&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Unlock&display=swap');

html {
    background-color: rgb(104, 104, 103);
}

body {
    font-family: verdana, Arial, Helvetica, sans-serif;
    width: 1500px;
    background-color: white;
    border: 3px solid black;

    background-image: -moz-linear-gradient(top, white 0%, #c0fa8a 100%);
    background-image: -webkit-linear-gradient(top, white 0%, #c0fa8a 100%);	
    background-image: -o-linear-gradient(top, white 0%, #c0fa8a 100%);
    background-image: linear-gradient(top, white 0%, #c0fa8a 100%);	
}



header {
    padding-top: 20px;
    background: rgb(52,171,150);
    background: linear-gradient(90deg, rgba(52,171,150,1) 0%, rgba(105,238,192,1) 76%, rgba(43,191,135,1) 99%);
    border-bottom:2px solid black ;
}

header h2 {
    padding-left: 160px;
    color: black;
}
header h1{
    padding-left: 25px;
    color: orange;
    font-family: "Chokokutai", system-ui;
}
p{
    text-align: justify;
    float: right;
}

aside {
    float: left;
}
.container{
  float: right;
}

.top-right {
    position: absolute;
    top: 8px;
    left: 1100px;
  }
  .container {
    position: relative;
  }
  article{
    width: 80%;
  }
  li a{
    color: orange;
    padding-left: 8px;
  }
  nav ul li a{
    text-decoration: none;
  }
  footer {
	clear: both;
	margin-top: 1em;
	
	padding-top: .7em;
}
footer p {
	font-size: 100%;
	text-align: center;
	margin-right: 20px;
}

.list li a {
    color: orange;
    text-decoration: none;
    padding: 10px; 
    display: block; 
}
li a:hover{
    color: blue;
}


ul { 
	margin-left: 1.5em;
	margin-bottom: 1.5em; 
}
li {
	font-size: 95%;
	padding-bottom: .35em;
}
p {
	font-size: 95%;
	padding-bottom: .5em;
    text-align: justify;
}
.p{
	color: #36d07e;
}
.nav .li a{
  text-decoration: none;
}
em { font-weight: bold; }

article {
	width: 535px;
	align-items: center;
	padding-right: 20px;
	float: right;
    column-count: 2;
    column-gap: 25px;
    column-rule: 3px ;
}
article h1 {
	font-size: 170%; 
	margin-bottom: .35em;
}
article img{
    float: left;
    margin: 0 1.5em 1em 0;
	padding-right: 200px;
}
em span{
    color: orange;
}

aside {
	width: 350px;
	float: left;
	padding-left: 60px;
	margin-right: 20em;

    
}
aside li{
	list-style: none;
}
aside h2 {
	font-size: 130%;
	padding-bottom: .5em;
}
aside h3 {
	font-size: 100%;
	color: #931420;
	padding-bottom: .5em;
}
.art{
  padding-right: 250px;
}
.img2{
  width: 200px;
  height: 180px;
}

footer {
	clear: both;
	margin-top: 1em;
	border-top: 2px solid #f2972e;
	padding-top: .7em;
}
footer p {
	font-size: 100%;
	text-align: center;
	margin-right: 20px;
}

.resource .links{
	color: blue;
}












